<section>
  <button onClick="refreshData()">Refresh Data</button>
  <p class='small'>Last Updated: {{timestamp}}</p>
</section>

<table border='1' cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>Posted</th>
      <th>Funded</th>
      <th>Cost</th>
      <th>Days</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr id="patient-{{this.id}}">
        <td class='posted'>{{this.posted}}</td>
        <td class='funded'>{{this.funded}}</td>
        <td class='cost'>{{this.cost}}</td>
        <td class='days'>{{this.daysToFund}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>