<h2>Num of Patients vs AvgDaysToFund</h2>
<section id='graph'></section>

<table border='1' cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>Country</th>
      <th>Patients</th>
      <th>Avg. Days To Fund</th>
      <th>Avg. Cost</th>
      <th>Total Cost</th>
      <th>2012 Healthcare budget as % of GDP</th>
    </tr>
  </thead>
  <tbody>
    {{#each countries}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.totalPatients}}</td>
        <td>{{this.avgDaysToFund}}</td>
        <td>{{this.avgCost}}</td>
        <td>{{this.totalCost}}</td>
        <td>{{this.spending}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>